@using CelebrationRegister.Data.Entities
@model CelebrationRegister.Core.ViewModels.AdminViewModel.EditChildViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_DefaultLayout.cshtml";

    ReportCard reportCard = ViewData["ReportCard"] as ReportCard;
    Employee employee = ViewData["Employee"] as Employee;

}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            مدیریت فرزندان کارکنان
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="col-lg-8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <i class="zmdi zmdi-network-warning"></i>
                ویرایش اطلاعات فرزند
            </div>
            <div class="panel-body">

                <h4>نام پدر / مادر : "@employee.FullName"</h4>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="EmployeeId"/>
                        <input type="hidden" asp-for="Image"/>
                        <input type="hidden" asp-for="ChildId"/>
                        <input type="hidden" asp-for="Birthday"/>
                        <input type="hidden" name="reportCardId" value="@reportCard.ReportCardId"/>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="EmployeeId" class="control-label">نام پدر / مادر</label>
                            <select disabled="" asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GradeId" class="control-label"></label>
                            <select asp-for="GradeId" class="form-control" asp-items="ViewBag.GradeId"></select>
                            <span asp-validation-for="GradeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">وضعیت بررسی</label>
                            <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusItem"></select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">کد ملی</label>
                            <input asp-for="NationalCode" class="form-control" />
                            <span asp-validation-for="NationalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">معدل</label>
                            <input disabled="" value="@reportCard.AverageGrade" class="form-control" />
                        </div>


                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" value=" ذخیره تغییرات " class="btn btn-warning" />
                    <a class="btn btn-primary" asp-action="Index"> بازگشت به فهرست </a>
                </div>


                <div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                اطلاعات تصویر و کارنامه
            </div>
            <div class="panel-body">


                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <img style="width: 100%; height: 300px" class="img-thumbnail" src="/Information/PersonalImage/@employee.City.CityName/@employee.FullName/@Model.Image" />
                </div>
                <hr/>
                <div class="form-group">
                    <label class="control-label">تصویر کارنامه</label>
                    @if (reportCard != null)
                    {
                        <img style="width: 100%; height: 300px" class="img-thumbnail" src="/Information/ReportCard/@employee.City.CityName/@employee.FullName/@reportCard.ReportCardImage" />
                    }
                    else
                    {
                        <img style="width: 100%; height: 300px" class="img-thumbnail" src="/Information/ReportCard/NoPhoto.png" />
                    }
                </div>

            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
