@using CelebrationRegister.Core.Services.Interfaces
@using CelebrationRegister.Data.Entities
@using SelectList = Microsoft.AspNetCore.Mvc.Rendering.SelectList
@model CelebrationRegister.Core.ViewModels.AccountViewModel.RegisterViewModel
@inject ISettingServices _settingServices
@{
    var items = ViewData["GradeList"] as List<Grade>;
    SelectList list = new SelectList(items, "GradeId", "GradeTitle");
    int employeeId = (int)ViewData["EmployeeId"];
    

}

@section StyleSheet
{
    @*<link rel="stylesheet" href="/MdBootstrapPersianDateTimePicker/ bootstrap.min.css" />*@
    @* <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />*@
    <link rel="stylesheet" href="/css/Persian-calender.css" />
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/Persian-calender/persian-date.min.js"></script>
    <script src="/js/Persian-calender/persian-datepicker.min.js"></script>
}
<main>
    <div class="container user-panel" id="user-panel" style="display: flex;">
        <partial name="_SIdeBarPrtial" />
        <div class="panel-content col-sm-8">
            <div class="info">
                <div class="panel">ارسال مدارک</div>

                <div class="content">
                    <form asp-area="UserPanel" asp-controller="Home" asp-action="Register" method="post" enctype="multipart/form-data" style="font-size: large" onsubmit="return Validate(this);">
                        @if (ViewData["Error"] != null)
                        {
                            <div class="alert alert-danger" asp-validation-summary="All"></div>
                        }
                        <input type="hidden" asp-for="EmployeeId" value="@employeeId" />
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">نام و نام خانوادگی فرزند</label>
                            <div class="col-sm-8">
                                <input asp-for="FullName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">کدملی</label>
                            <div class="col-sm-8">
                                <input asp-for="NationalCode" type="number" class="form-control" placeholder="456000000">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">تاریخ تولد</label>
                            <div class="col-sm-8">
                                <input asp-for="Birthday" type="text" class="form-control" onchange="SetBirthday()">
                                <label class="help-block text-info" style="font-size: small">
                                    <i class="zmdi zmdi-help"></i>
                                    برای استفاده از تقویم شمسی روی متن تاریخ کلیک کنید.
                                </label>
                                <label  id="info" class="help-block text-danger" style="font-size: small;display: none">
                                    <i class="glyphicon glyphicon-warning"></i>
                                    لطفا تاریخ را فقط از طریق پنل تاریخ وارد کنید!
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4">پایه تحصیلی</label>
                            <select asp-for="GradeId" asp-items="@list" class="custom-select custom-select-sm col-sm-8">
                            </select>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 alert alert-success">
                                <label> انتخاب تصویر دانش پژوه</label>
                                <div class="custom-file">
                                    <img id="imgPersonal" style="width: 400px; height: 300px" src="/Information/PersonalImage/DefaultProfile.png" class="img-circle img-rounded img-fluid img-responsive img-thumbnail" />
                                    <input asp-for="PersonalImage" type="file" class="form-control-file">
                                </div>
                            </div>
                            <div class="col-sm-6 alert alert-primary">
                                <label> انتخاب تصویر کارنامه </label>
                                <img id="imgReportCard" style="width: 400px; height: 300px" src="/Information/ReportCard/NoPhoto.png" class="img-circle img-rounded img-fluid img-responsive img-thumbnail" />
                                <div class="custom-file">
                                    <input asp-for="ReportCardImage" type="file" class="form-control-file">
                                </div>
                                <div style="display: flex">
                                    <label class="col-sm-2 col-form-label">معدل</label>
                                    <div class="col-sm-6">
                                        <input asp-for="AverageGrade" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h5 class="text-success">
                            <input type="checkbox" onchange="changedOptional()" id="optionalDetails" class="checkbox-inline" />
                            موارد تشویقی
                        </h5>
                        <div id="optionalFields" class="row form-group alert alert-info" style="display: flex;opacity: 0 ; transition: height 0.3s; height: 25px">
                            <div class="col-sm-6 alert alert-warning">
                                <h5 class="text-success">
                                    <input type="checkbox" onchange="changedSampad()" id="sampadDetail" class="checkbox-inline" />
                                    پذیرفته / محصل در مدارس تیزهوشان
                                </h5>

                                <label> انتخاب تصویر</label>
                                <div class="custom-file">
                                    <img id="imgSampad" style="width: 400px; height: 300px" src="/Information/ReportCard/NoPhoto.png" class="img-circle img-rounded img-fluid img-responsive img-thumbnail" />
                                    <input id="sampadOptionPanel" style="display: none" asp-for="OptionalDetailsSampadImages" type="file" class="form-control-file">
                                </div>
                            </div>

                            <div class="col-sm-6 alert alert-warning">
                                <h5 class="text-success">
                                    <input type="checkbox" onchange="changedUniversity()" id="universityDetail" class="checkbox-inline" />
                                    ورود به دانشگاه
                                </h5>
                                <label> انتخاب تصویر </label>
                                <div class="custom-file">
                                    <img id="imgUniversity" style="width: 400px; height: 300px" src="/Information/ReportCard/NoPhoto.png" class="img-circle img-rounded img-fluid img-responsive img-thumbnail" />
                                    <input id="universityOptionPanel" style="display: none" asp-for="OptionalDetailsUniversityImages" type="file" class="form-control-file">
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success">ارسال اطلاعات</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
@{
    var limitDate = await _settingServices.GetBirthDayLimitation();
    int year = limitDate.Year;
    int mouth = limitDate.Month;
    int day = limitDate.Day;
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Birthday").persianDatepicker({
                altField: '#Birthday',
                altFormat: "YYYY/MM/DD",
                observer: true,
                format: 'YYYY/MM/DD',
                initialValue: false,
                initialValueType: 'persian',
                autoClose: true,
                minDate: new Date(@year, @mouth, @day),
                maxDate: 'today'
            });
        });

        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
        function Validate(oForm) {
            var arrInputs = oForm.getElementsByTagName("input");
            for (var i = 0; i < arrInputs.length; i++) {
                var oInput = arrInputs[i];
                if (oInput.type == "file") {
                    var sFileName = oInput.value;
                    if (sFileName.length > 0) {
                        var blnValid = false;
                        for (var j = 0; j < _validFileExtensions.length; j++) {
                            var sCurExtension = _validFileExtensions[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValid = true;
                                break;
                            }
                        }

                        if (!blnValid) {
                            alert("متاسفانه پسوند فایل " + sFileName + "مناسب نیست، پسوند های مناسب شامل :" + _validFileExtensions.join(", "));
                            return false;
                        }
                    }
                }
            }

            return true;
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                if (input.id == "ReportCardImage") {

                    reader.onload = function (e) {
                        $('#imgReportCard').attr('src', e.target.result);
                    }

                } else if (input.id == "PersonalImage"){
                    reader.onload = function (e) {
                        $('#imgPersonal').attr('src', e.target.result);
                    }

                } else if (input.id == "sampadOptionPanel"){
                    reader.onload = function (e) {
                        $('#imgSampad').attr('src', e.target.result);
                    }

                }else if (input.id == "universityOptionPanel"){
                    reader.onload = function (e) {
                        $('#imgUniversity').attr('src', e.target.result);
                    }

                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#PersonalImage").change(function () {
            readURL(this);
        });


        $("#ReportCardImage").change(function () {
            readURL(this);
        });
        $("#sampadOptionPanel").change(function () {
            readURL(this);
        });
        $("#universityOptionPanel").change(function () {
            readURL(this);
        });


    </script>

    <script>
        function SetBirthday() {

            var birthday = document.getElementById("Birthday");
            var date = new persianDate(birthday.innerText).toLocale('fa').format();
            birthday.type = date;
            birthday.value = null;
            var warning = document.getElementById("info");
            warning.style.display = "block";
        }
    </script>

    <script type="text/javascript">
        var optionalDetails = document.getElementById("optionalDetails");
        var optionalFields = document.getElementById("optionalFields");


        function changedOptional() {
            if (optionalDetails.checked) {
               // optionalFields.style.display = "flex";
                optionalFields.style.height = "470px";
                optionalFields.style.opacity = 1;
            } else {
                //optionalFields.style.display = "none";
                optionalFields.style.height = "25px";
                optionalFields.style.opacity = 0;
            }
        }

        var sampadDetail = document.getElementById("sampadDetail");
        var sampadOptionPanel = document.getElementById("sampadOptionPanel");

        function changedSampad() {
            if (sampadDetail.checked) {
                sampadOptionPanel.style.display = "block";
            } else {
                sampadOptionPanel.style.display = "none";
            }
        }

        var universityDetail = document.getElementById("universityDetail");
        var universityOptionPanel = document.getElementById("universityOptionPanel");
        function changedUniversity() {
            if (universityDetail.checked) {
                universityOptionPanel.style.display = "block";
            } else {
                universityOptionPanel.style.display = "none";
            }
        }
    </script>


}
