@model CelebrationRegister.Core.ViewModels.AccountViewModel.LoginViewModel

<div class="container main" id="main">
    <div class="col-md-4 login">
        <div class="panel">
            ورود به سامانه
        </div>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-group">
                <label for="validationCustomUsername"> کد پرسنلی </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text zmdi zmdi-account" id="inputGroupPrepend"></span>
                    </div>
                    <input type="text" class="form-control" asp-for="PersonalCode" placeholder="کدپرسنلی" aria-describedby="inputGroupPrepend" required="">
                </div>
                <label for="validationCustomUsername"> کدملی </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text zmdi zmdi-key" ></span>
                    </div>
                    <input type="password" class="form-control" asp-for="NationalCode" placeholder="کلمه عبور" aria-describedby="inputGroupPrepend" required="">
                </div>
                <div asp-validation-summary="All"></div>
                <button class="btn btn-success" type="submit">ورود به سامانه</button>
            </div>
        </form>
    </div>
</div>