@using CelebrationRegister.Core.Convertors
@model Notification
@{
    Layout = "_Layout";
}

<main>
    <div class="container main" id="main">
        <div class="col-md-12 col-sm-12 col-lg-8">
            <div class="news-box">
                <div class="panel">
                    تاریخ انتشار : @Model.CreateDate.ToShamsi()
                </div>
                <div class="container-fluid">
                    <h1>تیتر اطلاعیه</h1>
                    <img class="img-thumbnail img-rounded single-img" style="margin: 5% 5%;width: 90%;height: 300px;" src="/NotificationImages/@Model.Image" alt="@("تصویر اطلاعیه " + Model.Title)">

                    <h5>
                        @Model.ShortDescription
                    </h5>
                    <p>
                        @Html.Raw(Model.Text)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-4">
            <partial name="_SideBarPartial" />
        </div>

    </div>

</main>